* { 
    background-color: #ece1ca;
    color: #645032;
    box-sizing: border-box;
    scroll-padding-top: 100px; /* Added here */
    font-family: 'Literata', serif; /* Use Literata font */
    max-width: 1000px;
    margin: 0 auto;
}

main {
  padding: 1em;
}


h1 {
    text-align: center;
    padding-top: 2em;
}

/* Add spacing after all headers */
h2, h3, h4, h5, h6 {
  margin-top: 3em; /* Adjust as needed for spacing */
}

a:link {
    color: #0000EE;
    text-decoration: underline;
}

footer {
  text-align: center;
  margin-top: 15em;
}

h3 cite {
    color: #0000EE !important;
    text-decoration: underline !important;
}

button {
  font-size: 20px;
}

.active:after {
  content: '-';
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #ece1ca;
  color: #645032;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #ece1ca;
}

.collapsible:after {
  content: '+';
  color: #645032;
  float: right;
  margin-right: 5px;
}