* { 
    background-color: #ece1ca;
    color: #645032;
    box-sizing: border-box;
    scroll-padding-top: 100px; /* Added here */
    font-family: 'Literata', serif; /* Use Literata font */
}

main {
  margin: 0 auto;
  max-width: 800px;
  padding: 1em;
}


h1 {
    text-align: center;
    padding-top: 2em;
}

/* Add spacing after all headers */
h2, h3, h4, h5, h6 {
  margin-top: 3em; /* Adjust as needed for spacing */
}

a:link {
    color: #0000EE;
    text-decoration: underline;
}

