* { 
    background-color: #f4f4f9;
    color: #333333;
    box-sizing: border-box;
    scroll-padding-top: 100px; /* Added here */
    word-spacing: 5px; /* Adjust this value as needed */
    line-height: 1.5; /* Increases space between lines */
}

body {
    padding-top: 60px; /* Adjust to match your navbar's height */
}

a:link {
color: #333333;
text-decoration: underline;
}